body {
  padding-top: 5rem;
  background-color:#E6ECF0;
}
.main {
  padding: 3rem 1.5rem;
  text-align: center;
}
#search {
border-color:rgba(153, 153, 153, 1);
background-color:#E6ECF0;
color:rgba(153, 153, 153, 1);
	-webkit-box-shadow: none !important;
	-moz-box-shadow: none !important;
box-shadow: none !important;
}
.btn-outline-success:hover {
background-color:rgba(112, 15, 38, 1)!important;
}
.text-muted {
color:rgba(153, 153, 153, 1); !important;
}
.btn-primary, .nav-pills .nav-link.active, .nav-pills .show>.nav-link {
background-color:#9D1535 !important;
border: 1px solid transparent !important;
	-webkit-box-shadow: none !important;
	-moz-box-shadow: none !important;
box-shadow: none !important;
}
.nav-link:hover{
	color:rgba(112, 15, 38, 1);
}
.page-link, .nav-link {
color: #9D1535;
	-webkit-box-shadow: none !important;
	-moz-box-shadow: none !important;
box-shadow: none !important;
}
.page-item.active .page-link {
background-color:#9D1535 !important;
border-color:#9D1535 !important;
color:white !important;
}
.members {
padding:1rem;
}
.material-icons {
font-size:18px;
display: inline-flex !important;
vertical-align: middle !important;
}

.nav-pills {
border-bottom: 1px solid #e9ecef;
padding: 0rem .5rem 1rem .5rem;
}
.modal-content-true {
padding: 1rem;
}
.modal-content-tldr {
	padding: .5rem;
	border-bottom: 1px solid #e9ecef;
}
.infoSpan {
	border-left: 1px solid #e9ecef;
	padding:.5rem;
}
.infoSpan-last {
	border-left: 1px solid #e9ecef;
	border-right: 1px solid #e9ecef;
	padding:.5rem;
}
a.regularLink {
	color: #9D1535 !important;
}
.pictureAlign h5 {
	color:#9D1535 !important;
	font-weight: 400;
}
.pictureAlign h5:hover {
	text-decoration: underline;
}
.pictureAlign {
	text-align:center;
}
.pagin:hover {
		color:rgba(112, 15, 38, 1) !important;
}
.card-deck {
	padding-top: 1rem;
	flex-flow: column !important;
    column-count: 3;
  }
.carousel-control-prev-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%239D1535' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E");
}

.carousel-control-next-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%239D1535' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E");
}
img {
	margin:auto;
}

@media print {
  body * {
    visibility: hidden;
  }
  #printQR, .material-icons {
	visibility: hidden !important;
  }
  #qrTest * {
    visibility: visible;
  }
  #qrTest {
    position: absolute;
    left: 0;
    top: 0;
  }
}