<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Stevens Senior Design Marketplace</title>

    <!-- Bootstrap core CSS -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.2/css/bootstrap-select.min.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
<link rel="stylesheet" href="{{url_for('static', filename='custom.css') }}">
<link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"/>

  </head>

  <body>

    <nav class="navbar navbar-expand-md navbar-dark fixed-top" style="background-color: #9D1535;">
      <a class="navbar-brand" href="/projects">SDMarketplace</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">
          <!--<li class="nav-item active">
            <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
          </li>-->
          <li class="nav-item">
            <a class="nav-link" href="/projects">Projects</a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="/createProposal">Submit Proposal</a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="/createProject">Create Project</a>
          </li>

          <!--<li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="/" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Dropdown</a>
            <div class="dropdown-menu" aria-labelledby="dropdown01">
              <a class="dropdown-item" href="#">Action</a>
              <a class="dropdown-item" href="#">Another action</a>
              <a class="dropdown-item" href="#">Something else here</a>
            </div>
          </li>-->

        </ul>
        <form class="form-inline my-2 my-lg-0">
          <input class="form-control mr-sm-2" id="search" type="text" placeholder="Search" aria-label="Search">
        </form>
      </div>
    </nav>

    <main role="main" class="container">
	<nav class="navbar navbar-light bg-light">
	<form class="form-inline">
	
<div class="input-group">
    <input type="text" class="form-control" placeholder="Keywords" aria-label="Username" aria-describedby="basic-addon1">
</div>

<!--
Use data-width="fit" to make them just enough to see all text
Use none to make bigger
-->
<div class="form-group">
  <select class="selectpicker" multiple data-showTick="true" title="Majors" data-live-search="true">
    <optgroup label="Engineering">
    <option>Biomedical</option>
    <option>Chemical</option>
    <option>Civil</option>
    <option>Computer</option>
    <option>Electrical</option>
    <option>Environmental</option>
    <option>Management</option>
    <option>Mechanical</option>
    <option>Naval</option>
    <option>Software</option>
    <option>Systems</option>
	</optgroup>
	<optgroup label="Sciences">
	</optgroup>
  </select>
</div>
  
<div class="form-group">
  <select class="selectpicker" multiple data-showTick="true" title="Approval">
    <option>Approved</option>
    <option>Pending</option>
  </select>
</div>

<div class="form-group">
  <select class="selectpicker" data-width="fit" title="Include Full Groups?">
    <option>Yes</option>
    <option>No</option>
  </select>
</div>

<div class="form-group">
  <select class="selectpicker" title="Sort by">
    <option>A-Z</option>
    <option>Popularity</option>
	<option>Space Available</option>
	<option>Date Posted</option>
  </select>
</div>

	</form>
	</nav>
	
      <div class="main">
       <div class="card-deck">

	    <div class="card">
			<div class="card-body">
			  <h5 class="card-title">Full Group</h5>
			  <p class="card-text">This card shows a full group that cannot be applied to join but can still be viewed</p>
			  <p class="card-text"><small class="text-muted">Last updated 3 days ago</small>
			</div>
		    <div class="card-footer">
			  <a href="#" class="btn btn-primary disabled">Apply</a>
			  <a href="#" class="btn btn-primary" data-toggle="modal" data-target="#modal1">More Info</a>
			</div>
		</div>
  
  	    <div class="card">
			<div class="card-body">
			  <h5 class="card-title">Locked Group<i class="material-icons">lock</i></h5>
			  <p class="card-text">This is a locked group where an advisor must accept your application and place you on the team</p>
			  <p class="card-text"><small class="text-muted">Last updated 7 mins ago</small></p>
			</div>
		    <div class="card-footer">
			  <a href="#" class="btn btn-primary">Apply</a>
			  <a href="#" class="btn btn-primary">More Info</a>
			</div>
		</div>
		
		<div class="card">
			<div class="card-body">
			  <h5 class="card-title">Open Group</h5>
			  <p class="card-text">This is an open group where anyone is free to join (meeting the major requirements)</p>
			  <p class="card-text"><small class="text-muted">Last updated 2 hours ago</small></p>
			</div>
		    <div class="card-footer">
			  <a href="#" class="btn btn-primary">Join</a>
			  <a href="#" class="btn btn-primary">More Info</a>
			</div>
		</div>
		</div>
      </div>
	<nav aria-label="...">
	  <ul class="pagination justify-content-center">
		<li class="page-item disabled">
          <span class="page-link">Previous</span>
		</li>
		<li class="page-item"><a class="page-link" href="#">1<span class="sr-only">(current)</span></a></li>
		<li class="page-item active">
			<span class="page-link">2</span>
    </li>
		<li class="page-item"><a class="page-link" href="#">3</a></li>
		<li class="page-item">
		  <a class="page-link" href="#">Next</a>
		</li>
	  </ul>
	</nav>
    </main>
	<!--Modals-->
	
	<div class="modal fade bd-example-modal-lg" id="modal1" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
	
		<div class="modal-header">
			<h5 class="modal-title" id="exampleModalLabel">Full Group <button type="button" class="close"  id="favButton" style="padding-left:0.2rem !important; color:red !important;"><span id="favText" class="material-icons">favorite_border</span></button></h5>
			<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
		</div>
		
		<div class="modal-body">
        <ul class="nav nav-pills">
		<li class="nav-item">
		<a class="nav-link active" id="generalTab" data-toggle="tab" href="#general" role="tab" aria-controls="general" aria-selected="true">General</a>
		</li>
		<li class="nav-item">
		<a class="nav-link" id="lookingTab" data-toggle="tab" href="#lookingFor" role="tab" aria-controls="lookingTab" aria-selected="false">Looking for</a>
		</li>
		<li class="nav-item">
		<a class="nav-link" id="memberTab" data-toggle="tab" href="#member" role="tab" aria-controls="memberTab" aria-selected="false">Current Members</a>
		</li>
		<!--<li class="nav-item">
		<a class="nav-link disabled" href="#">Disabled</a>
		</li>-->
		</ul>
		<div class="modal-content-tldr"><span class="infoSpan"><span class="material-icons" style="color:red">whatshot</span> 251 views</span><span class="infoSpan">Created by: <a class='regularLink'>Gregg Vesonder</a> on 10/21</span><span class="infoSpan-last"><span class="material-icons" style="color:red">favorite</span>101</span></div>
		<div class="container-fluid">
		<div class="tab-content" id="myTabContent">
			<!--General-->
			<div class="tab-pane fade show active modal-content-true" id="general" role="tabpanel" aria-labelledby="generalTab">
			content
			</div>
			<!--Looking For-->
			<div class="tab-pane fade modal-content-true" id="lookingFor" role="tabpanel" aria-labelledby="lookingTab">
			<div class="row">
			<table class="table table-sm" style="width:50%">
			<thead>
				<tr>
					<th scope="col">Major</th>
					<th scope="col">Total Spots Remaining</th>
				</tr>
				</thead>
			<tbody>
			<tr>
				<th scope="row">Chemical Engineering</th>
				<td style="color:red;"><strong>2/2</strong></td>
			</tr>
			<tr>
				<th scope="row">Software Engineering</th>
				<td style="color:green;">0/3</td>
			</tr>
			<tr>
				<th scope="row">Naval Engineering</th>
				<td style="color:green;">1/4</td>
			</tr>
			</tbody>
			</table>
			</div>
			</div>
			<!--Member Info-->
			<div class="tab-pane fade modal-content-true" id="member" role="tabpanel" aria-labelledby="memberTab">
			<!--NEED A ROW EVERY 3 MEMBERS-->
			<div class="row">
			<div class="col-md-4 pictureAlign">
			<img class="rounded-circle" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="Generic placeholder image" width="140" height="140">
			<h5>Kevin Hockenjos</h5>
			</div>
			<div class="col-md-4 pictureAlign">
			<img class="rounded-circle" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="Generic placeholder image" width="140" height="140">
			<h5>Taylor Swift</h5>
			</div>
			<div class="col-md-4 pictureAlign">
			<img class="rounded-circle" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="Generic placeholder image" width="140" height="140">
			<h5>The Rock</h5>
			</div>
			</div>
			
			<div class="row">
			<div class="col-md-4 pictureAlign">
			<img class="rounded-circle" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="Generic placeholder image" width="140" height="140">
			<h5>schad</h5>
			</div>
			<div class="col-md-4 pictureAlign">
			<img class="rounded-circle" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="Generic placeholder image" width="140" height="140">
			<h5>brad</h5>
			</div>
			</div>
			
			</div>
		</div>
		
		</div>
		</div>
	  
		<div class="modal-footer">
			<button type="button" class="btn btn-primary" data-dismiss="modal">Apply</button>
		</div>
	  
    </div>
  </div>
</div>

	</body>

<script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js" integrity="sha256-VazP97ZCwtekAsvgPBSUwPFKdrwD3unUfSGVYrahUqU=" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.2/js/bootstrap-select.min.js"></script>
<script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>

<script type="text/javascript">
$.fn.selectpicker.Constructor.BootstrapVersion = '4';
</script>
<script>
$("#favButton").on('click', function() {
if($("#favText").html() == "favorite") {
$("#favText").html("favorite_border");
} else {
$("#favText").html("favorite");
}
});

</script>
</html>
